{% extends 'kindy3/base.html' %}
{% load guardian_tags %}
{% load imagekit %}

{% block sidebar-title %}
	<a href="/children/{{ child.pk }}/">{{ child }}</a>
{% endblock %}

{% block breadcrumb %}
    <li><a href="/home/">Home</a></li>
    <li>{{ child }}</li>
{% endblock %}

{% block title %}{{ child }}{% endblock title %}

{% block action_header %}
{% endblock action_header %}

{% block content %}
    <h1>{{ child }}</h1>

    {% if child.get_image %}
        {% generateimage 'child:thumbnail' source=child.image %}
    {% endif %}

    <p>Guardians:</p>
    <ul>
    {% for guardian in child.guardians.all %}
        <li><a>{{ guardian }}</a></li>
    {% endfor %}
    </ul>
{% endblock content %}