{% extends 'kindy3/base.html' %}
{% load guardian_tags %}

{% block sidebar-title %}
	<a href="/children/{{ child.pk }}">{{ child }}</a>
{% endblock %}

{% block breadcrumb %}
    <li><a href="/home">Home</a></li>
    <li>{{ child }}</li>
{% endblock %}

{% block title %}{{ child }}{% endblock title %}

{% block content %}
    <h1>{{ child }}</h1>
    <p>Guardians:</p>
    <ul>
    {% for guardian in child.guardians.all %}
        <li><a>{{ guardian }}</a></li>
    {% endfor %}
    </ul>
{% endblock content %}