<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Tagging Exploration{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/website.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/themes/{{ childcare.theme }}.css">
	</head>
	<body>
		<div class="container wrapper">
			<a href="/{{ childcare.slug }}/"><img src="{{ STATIC_URL }}images/themes/{{ childcare.theme_image }}.jpg" alt="{{ childcare }}"></a>
			<div id="content">
			{% block content %}{% endblock %}
			{% block main_content %}{% endblock %}
			</div>
			<div class="nav text-center">
				<p>
				{% block sidebar %}
				{% for page in pages_list %}
				<a href="/{{ childcare.slug }}/{{ page.slug }}">{{ page }}</a> |
				{% endfor %}
				<a href="/{{ childcare.slug }}/news">News</a> |
				<a href="/{{ childcare.slug }}/enroll">Enroll your child</a>
				{% endblock %}
				</p>
			</div>
		</div>
	</body>
</html>