<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/website.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/themes/{{ childcare.theme }}.css">
	</head>
	<body>
		<div class="container">
			<h1 class="title"><a href="/{{ childcare.slug }}/">{{ childcare }}</a></h1>
			<div id="nav">
				<ul>
                    {% for page in pages_list %}
					    <li><a href="/{{ childcare.slug }}/{{ page.slug }}">{{ page }}</a></li>
                    {% endfor %}
                    <li><a href="/{{ childcare.slug }}/news">News</a></li>
                    <li><a href="/{{ childcare.slug }}/enroll">Enroll your child</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div id="content">
			{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>