{% extends 'kindy3/base.html' %}

{% block title %}Home{% endblock %}

{% block sidebar-title %}
	<a href="/home">Home dashboard</a>
{% endblock %}

{% block breadcrumb %}
    {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block action %}
    <li><a href="/childcare/create/"><span class="glyphicon glyphicon-plus"></span> Create a childcare site</a></li>
    <li><a href="/children/create/"><span class="glyphicon glyphicon-plus"></span> Add your child</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> Edit profile</a></li>
{% endblock %}

{% block content %}
    <h1>Hello{% if user.first_name == '' %} {{ user }}{% else %} {{ user.first_name }} {{ user.last_name }}{% endif %}!</h1>

    {% if childcare_list %}
        <p>Your childcare sites:</p>
        <ul>
        {% for childcare in childcare_list %}
            <li><a href="/childcare/{{ childcare.pk }}/">{{ childcare }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}


    {% if children_list %}
        <p>Your children:</p>
        <ul>
        {% for child in children_list %}
            <li><a href="/children/{{ child.pk }}/">{{ child }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}