{% extends 'kindy3/base.html' %}

{% block title %}Kindy Home{% endblock %}

{% block sidebar-title %}
	<a href="/home">Home dashboard</a>
{% endblock %}

{% block breadcrumb %}
    {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block sidebar %}
    <li><a>Edit profile</a></li>
{% endblock %}

{% block content %}
    <h1>Hello {{ user.first_name }}!</h1>

    {% if childcare_list %}
        <p>Your childcare sites:</p>
        <ul>
        {% for childcare in childcare_list %}
            <li><a href="/childcare/{{ childcare.pk }}">{{ childcare }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    <p><a href="/childcare/create">Create a childcare site</a></p>

    {% if children_list %}
        <p>Your children:</p>
        <ul>
        {% for child in children_list %}
            <li><a href="/children/{{ child.pk }}">{{ child }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    <p><a href="/children/create">Add your child</a></p>

    <p><a href="/accounts/logout">Logout</a></p>
{% endblock %}