{% extends 'kindy3/base.html' %}

{% block title %}Create a childcare site{% endblock title %}

{% block breadcrumb %}
    <li><a href="/home">Home</a></li>
    <li>Create childcare</li>
{% endblock %}

{% block action_header %}
{% endblock action_header %}

{% block content %}
    <h1>Create a childcare site</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
            </div>
        </p>
        {% endfor %}
        <input type="submit" class="btn btn-default" value="Create">
    </form>
{% endblock content %}