{% extends 'childcare/childcare_base.html' %}

{% block title %}{{ childcare.name }} waiting list{% endblock title %}

{% block content %}
    <h1>Waiting list for {{ childcare.name }}</h1>
    {% if enrollment_list %}
        <ul>
        {% for object in enrollment_list %}
            <li><a href="waiting-list/{{ object.child.pk }}">{{ object.child }}</a>, submitted: {{ object.created }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No children on the waiting list.</p>
    {% endif %}
{% endblock content %}