{% extends 'childcare/childcare_base.html' %}
{% block title %}{{ childcare }} newsboard{% endblock title %}

{% block breadcrumb %}
    <li><a href="/childcare/{{ childcare.pk }}">{{ childcare }}</a></li>
    <li>Newsboard</li>
{% endblock %}

{% block action %}
    <li><a href="/childcare/{{ childcare.pk }}/news/create/"><span class="glyphicon glyphicon-plus"></span> Add news</a></li>
{% endblock %}

{% block content %}
    <h1>Newsboard</h1>
    <ul>
    {% for news in news_list %}
        <li><a href="/childcare/{{ childcare.pk }}/news/{{ news.pk }}">{{ news }}</a></li>
    {% endfor %}
    </ul>
{% endblock content %}