{% extends 'childcare/childcare_base.html' %}

{% block title %}Edit website{% endblock title %}

{% block content %}
    <h1>Website</h1>
    <p>
        <a href="/{{ childcare.slug }}">Go to website</a> |
        <a href="/childcare/{{ childcare.pk }}/news/create">Add news</a> |
        <a href="/childcare/{{ childcare.pk }}/website/page/create">Add page</a>
    </p>

    <p>News:</p>
    <ul>
    {% for news in website_news_list %}
        <li><a href="/{{ childcare.slug }}/news/{{ news.slug }}">{{ news }}</a></li>
    {% endfor %}
    </ul>

    <p>Pages:</p>
    <ul>
    {% for page in pages_list %}
        <li><a href="/{{ childcare.slug }}/{{ page.slug }}">{{ page }}</a></li>
    {% endfor %}
    </ul>

{% endblock content %}