{% extends 'childcare/childcare_base.html' %}

{% block title %}Create a website page{% endblock title %}

{% block breadcrumb %}
    <li><a href="/childcare/{{ childcare.pk }}">{{ childcare }}</a></li>
    <li><a href="/childcare/{{ childcare.pk }}/website">Website</a></li>
    <li>Create page</li>
{% endblock %}

{% block content %}
    <h1>Create a website page</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create">
    </form>
{% endblock content %}