{% extends 'childcare/childcare_base.html' %}

{% block title %}Edit website{% endblock title %}

{% block breadcrumb %}
    <li><a href="/childcare/{{ childcare.pk }}">{{ childcare }}</a></li>
    <li>Website</li>
{% endblock %}

{% block action %}
    <li><a href="/{{ childcare.slug }}/">Go to website</a></li>
    <li><a href="/childcare/{{ childcare.pk }}/news/create/">Add news</a></li>
    <li><a href="/childcare/{{ childcare.pk }}/website/page/create/">Add page</a></li>
    <li><a href="/childcare/{{ childcare.pk }}/website/choose-theme/">Choose theme</a></li>
{% endblock %}

{% block content %}
    <h1>Website</h1>


    <h2>First Page (child care description):</h2>
    {% if childcare.description == '' %}
        <p><a href="/childcare/{{ childcare.pk }}/website/first-page/edit">Add a description</a></p>
    {% else %}
        <p>{{ childcare.description }} <a href="/childcare/{{ childcare.pk }}/website/first-page/edit">(edit)</a></p>
    {% endif %}


    <h2>News:</h2>
    <ul>
    {% for news in website_news_list %}
        <li><a href="/{{ childcare.slug }}/news/{{ news.slug }}">{{ news }}</a></li>
    {% endfor %}
    </ul>

    <h2>Pages:</h2>
    <ul>
    {% for page in pages_list %}
        <li><a href="/{{ childcare.slug }}/{{ page.slug }}">{{ page }}</a></li>
    {% endfor %}
    </ul>

    <h2>Theme:</h2>
    <p>{{ childcare.get_theme_display }} <a href="/childcare/{{ childcare.pk }}/website/choose-theme">(change)</a></p>

{% endblock content %}