{% extends 'classroom/classroom_base.html' %}
{% block title %}{{ classroom }} | children{% endblock title %}

{% block breadcrumb %}
    <li><a href="/childcare/{{ childcare.pk }}/classroom/{{ classroom.pk }}">{{ classroom }}</a></li>
    <li>Children</li>
{% endblock %}

{% block action_header %}
{% endblock action_header %}

{% block content %}
    <h1>Children</h1>
    <ul>
    {% for object in enrolledchildren_list %}
        <li>{{ object.child }}</li>
    {% endfor %}
    </ul>
{% endblock content %}