{% extends 'classroom/classroom_base.html' %}
{% block title %}{{ classroom }} | Daily diary{% endblock title %}

{% block breadcrumb %}
    <li><a href="/childcare/{{ childcare.pk }}/classroom/{{ classroom.pk }}">{{ classroom }}</a></li>
    <li>Daily diary</li>
{% endblock %}

{% block action %}
    <li><a href="/childcare/{{ childcare.pk }}/classroom/{{ classroom.pk }}/diary/create/"><span class="glyphicon glyphicon-plus"></span> Add a diary</a></li>
{% endblock %}

{% block content %}
    <h1>Daily diary</h1>
    <ul>
    {% for diary in diary_list %}
        <li><a href="/childcare/{{ childcare.pk }}/classroom/{{ classroom.pk }}/diary/{{ diary.pk }}">{{ diary.date.day }} {{ diary.date|date:'M' }} {{ diary.date.year }}</a></li>
    {% endfor %}
    </ul>
{% endblock content %}